
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* For smooth animation transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
